/* Style the body */
body {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  
  /* Style inputs */
  input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
  }
  
  
  
  /* Style the container/contact section */
  .container {
    border-radius: 10px;
    background-color: #f2f2f2;
    padding: 100px;
    margin: auto;
  }
  
.btn:hover {
    background-color:green;

}

.btn {
    background-color: rgb(33, 126, 104);
}

  
  